@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

 @tailwind base;
 @tailwind components;
 @tailwind utilities;

 * {
   font-family: 'Raleway', sans-serif;
 }

 .desktop {
   background-image: url(./assets/Admin_Login.png);
   background-repeat: no-repeat;
   background-size: cover;
 }

 .mobile {
   background-image: url('./assets//bgSmall.png');
   background-repeat: no-repeat;
   background-size: cover;
 }

 button:hover {
   transform: scale(1.025);

 }


 /* ---------landing---------------- */
 .join {
   border: 2px solid #FF9800;
   color: #FF9800;
   font-size: 1.2rem;
   font-weight: 500;
 }

 .deskLanding {
   background-image: url(./assets/bgLanding.png);
 }


 /* ------------login------------------ */

 .container {

   display: grid;
   grid-template-columns: 50% 50%;
 }

 input[type=text]:focus,
 input[type=password]:focus {
   outline: 2px solid;
   color: #000000;
   background-color: #cdcdcd;
 }

 .logincard {
   border: 3px solid #FFBF62;

 }

 /*=======Categoryyy=======*/
 .categ {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
 }

 .j {
   grid-column: 1 / span 2;
 }



/* ------------Analytics------------------ */
.coupon{
    background-image: url('./assets/coupon.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 90%; /* You can adjust the percentage */
    background-position: center center; 
  
}

 .scrollbar-hidden::-webkit-scrollbar {
   width: 6px;
   /* Set the width of the scrollbar */
 }

 .scrollbar-hidden::-webkit-scrollbar-thumb {
   background-color: #FF9800;
   /* Set the color of the thumb (the draggable part) */
   border-radius: 8px;
   /* Set the border-radius for rounded edges */
 }

 .scrollbar-hidden::-webkit-scrollbar-track {
   background-color: transparent;
   /* Set the color of the track (the non-draggable part) */
 }

 /* .scrollbar-mobile::-webkit-scrollbar {
  width: 1px;
  /* Set the width of the scrollbar */


.scrollbar-mobile::-webkit-scrollbar-thumb {
  background-color: #FF9800;
  /* Set the color of the thumb (the draggable part) */
  border-radius: 8px;
  /* Set the border-radius for rounded edges */
}

.scrollbar-mobile::-webkit-scrollbar-track {
  background-color: #FF9800;

  /* Set the color of the track (the non-draggable part) */
}



  /* -------options----- */
  .options{
    grid-column: 1/span2 ;
  }



  /* -------options----- */
  .options{
    grid-column: 1/span2 ;
  }


  /* -----sidebar---- */
  .side{
    box-shadow: 5px 0px 20px 0px rgba(230, 111, 20, 0.25);
  }

  /* ---MediaQuery----*/
  @media  (min-width: 768px) {
    .mob {
      display: none; 
    }
}
@media  (max-width: 768px) {
    .desk{
      display: none; 
    }
}

.mobile_navbar{
  box-shadow:  4px 4px 10px rgba(0, 0, 0, 0.8);
}





@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade {
  animation: fadeInDown 1s ease-out; /* Adjust the animation duration and easing as needed */
}



